.DS_Store
*build/
dist/
.gradle/
ui/
*.orig
*~
TAGS

# IDE-specific ignores
# lists comes from import, and running project build

# IntelliJ IDEA
.idea/
out/
*.iml
*.ipr
*.iws

# Eclipse
.settings/
.classpath
.project

# NetBeans
/.nb-gradle/
