language: java

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
    directories:
      - $HOME/.gradle/caches
      - $HOME/.gradle/wrapper

before_install:
  - cat /etc/hosts
  - sudo hostname "$(hostname | cut -c1-63)"
  - sed -e "s/^\\(127\\.0\\.0\\.1.*\\)/\\1 $(hostname | cut -c1-63)/" /etc/hosts > /tmp/hosts
  - sudo mv /tmp/hosts /etc/hosts
  - cat /etc/hosts
  - sudo pip install html5validator

# sudo: false
sudo: required

jdk:
  - openjdk7
  - oraclejdk7
  - oraclejdk8

# need gui for running tests of replace call agent with Swing/AWT
#before_script:
#  - "export DISPLAY=:99.0"
#  - "sh -e /etc/init.d/xvfb start"
#  - sleep 3 # give xvfb some time to start

# want more info when running tests and building manual
# NOTE: the tasks here should at least be a subset of build task dependency in build.gradle
#       update that task if you change this list
script:
  - set -o errexit
  - ./gradlew assemble
  - ./gradlew --info check
  - ./gradlew javadoc
  - ./gradlew --info manual
  - ./gradlew validateManual
  - ./gradlew verifyGoogleJavaFormat

after_success:
  - bash <(curl -s https://codecov.io/bash)

git:
  depth: 9
