
body { background-color: #FFFFF5; 
       margin-right: 1em;
     } 

body.main { margin-top: 2.5em; 
     } 

pre  { background-color: silver; 
       margin-left: 1em; 
       margin-right: 1em; 
       padding: 1em; 
     }

dt   { font-weight: bolder; 
       margin-top: 1em;
     }

nav  { line-height: 1.4em; 
     }

h1   { text-align: center;
     }

.center { text-align: center; }

.note { color: maroon; }
