  
trigger:
  branches:
    include:
      - '*'
pr:
  branches:
    include:
      - '*'

jobs:
  - job: nonSystemTest_jdk8
    dependsOn:
      - nonSystemTest_jdk24
      - misc
    pool:
      vmImage: 'ubuntu-latest'
    container: mdernst/randoop-ubuntu-jdk8:latest
    steps:
      - checkout: self
        fetchDepth: 25
      - bash: export ORG_GRADLE_PROJECT_jdkTestVersion=8 && ./scripts/test-nonSystemTest.sh
        displayName: test-nonSystemTest.sh
  - job: systemTest_jdk8
    dependsOn:
      - systemTest_jdk24
      - misc
    pool:
      vmImage: 'ubuntu-latest'
    container: mdernst/randoop-ubuntu-jdk8:latest
    steps:
      - checkout: self
        fetchDepth: 25
      - bash:  export ORG_GRADLE_PROJECT_jdkTestVersion=8 && ../scripts/test-systemTest.sh
        displayName: test-systemTest.sh
  - job: nonSystemTest_jdk11
    dependsOn:
      - nonSystemTest_jdk24
      - misc
    pool:
      vmImage: 'ubuntu-latest'
    container: mdernst/randoop-ubuntu-jdk11:latest
    steps:
      - checkout: self
        fetchDepth: 25
      - bash: export ORG_GRADLE_PROJECT_jdkTestVersion=11 && ./scripts/test-nonSystemTest.sh
        displayName: test-nonSystemTest.sh
  - job: systemTest_jdk11
    dependsOn:
      - systemTest_jdk24
      - misc
    pool:
      vmImage: 'ubuntu-latest'
    container: mdernst/randoop-ubuntu-jdk11:latest
    steps:
      - checkout: self
        fetchDepth: 25
      - bash:  export ORG_GRADLE_PROJECT_jdkTestVersion=11 && ../scripts/test-systemTest.sh
        displayName: test-systemTest.sh
  - job: nonSystemTest_jdk17
    dependsOn:
      - nonSystemTest_jdk24
      - misc
    pool:
      vmImage: 'ubuntu-latest'
    container: mdernst/randoop-ubuntu-jdk17:latest
    steps:
      - checkout: self
        fetchDepth: 25
      - bash: export ORG_GRADLE_PROJECT_jdkTestVersion=17 && ./scripts/test-nonSystemTest.sh
        displayName: test-nonSystemTest.sh
  - job: systemTest_jdk17
    dependsOn:
      - systemTest_jdk24
      - misc
    pool:
      vmImage: 'ubuntu-latest'
    container: mdernst/randoop-ubuntu-jdk17:latest
    steps:
      - checkout: self
        fetchDepth: 25
      - bash:  export ORG_GRADLE_PROJECT_jdkTestVersion=17 && ../scripts/test-systemTest.sh
        displayName: test-systemTest.sh
  - job: nonSystemTest_jdk21
    dependsOn:
      - nonSystemTest_jdk24
      - misc
    pool:
      vmImage: 'ubuntu-latest'
    container: mdernst/randoop-ubuntu-jdk21:latest
    steps:
      - checkout: self
        fetchDepth: 25
      - bash: export ORG_GRADLE_PROJECT_jdkTestVersion=21 && ./scripts/test-nonSystemTest.sh
        displayName: test-nonSystemTest.sh
  - job: systemTest_jdk21
    dependsOn:
      - systemTest_jdk24
      - misc
    pool:
      vmImage: 'ubuntu-latest'
    container: mdernst/randoop-ubuntu-jdk21:latest
    steps:
      - checkout: self
        fetchDepth: 25
      - bash:  export ORG_GRADLE_PROJECT_jdkTestVersion=21 && ../scripts/test-systemTest.sh
        displayName: test-systemTest.sh
  - job: nonSystemTest_jdk24
    pool:
      vmImage: 'ubuntu-latest'
    container: mdernst/randoop-ubuntu-jdk24:latest
    steps:
      - checkout: self
        fetchDepth: 25
      - bash: export ORG_GRADLE_PROJECT_jdkTestVersion=24 && ./scripts/test-nonSystemTest.sh
        displayName: test-nonSystemTest.sh
  - job: systemTest_jdk24
    pool:
      vmImage: 'ubuntu-latest'
    container: mdernst/randoop-ubuntu-jdk24:latest
    steps:
      - checkout: self
        fetchDepth: 25
      - bash:  export ORG_GRADLE_PROJECT_jdkTestVersion=24 && ../scripts/test-systemTest.sh
        displayName: test-systemTest.sh
  - job: misc
    pool:
      vmImage: 'ubuntu-latest'
    container: mdernst/randoop-ubuntu-jdkany:latest
    steps:
      - checkout: self
        fetchDepth: 25
      - bash: export ORG_GRADLE_PROJECT_jdkTestVersion= && ../scripts/test-misc.sh
        displayName: test-misc.sh
