<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Randoop"
            icon="icons/randoop.png"
            category="org.eclipse.jdt.ui.java"
            class="randoop.plugin.internal.ui.views.TestGeneratorViewPart"
            id="randoop.plugin.ui.views.TestGeneratorViewPart">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="randoop.plugin.ui.views.TestGeneratorViewPart"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.jdt.ui.PackageExplorer">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="randoop.plugin.internal.ui.AdaptablePropertyTester"
            id="randoop.plugin.adaptablePropertyTester"
            namespace="randoop.adaptable"
            properties="isTestable"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
      <propertyTester
            class="randoop.plugin.internal.ui.ListPropertyTester"
            id="randoop.plugin.arraylistPropertyTester"
            namespace="randoop.arraylist"
            properties="isAllInSameProject"
            type="java.util.List">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
          <launchConfigurationType
            name="Randoop Launcher"
            delegate="randoop.plugin.internal.ui.launching.RandoopLaunchDelegate"
            modes="run"
            id="randoop.plugin.core.launching.gentestsType">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="randoop.plugin.core.launching.gentestsType"
            icon="icons/randoop.png"
            id="randoop.plugin.ui.gentestsTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
         
          <launchConfigurationTabGroup
            type="randoop.plugin.core.launching.gentestsType"
            class="randoop.plugin.internal.ui.launching.RandoopLaunchConfigurationTabGroup"
            id="randoop.plugin.ui.launching.gentestsTabGroup">
      </launchConfigurationTabGroup> 
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="randoop.plugin.internal.ui.launching.RandoopLaunchShortcut"
            icon="icons/randoop.png"
            id="randoop.plugin.ui.launching.gentestsShortcut"
            label="Randoop Test Input"
            modes="run">
         <contextualLaunch>
	         <enablement>
         <or>
            <with
                  variable="selection">
               <and>
                  <test
                        property="randoop.arraylist.isAllInSameProject">
                  </test>
                  <iterate
                        operator="or">
                     <and>
                        <adapt
                              type="org.eclipse.jdt.core.IJavaElement">
                        </adapt>
                        <test
                              property="randoop.adaptable.isTestable">
                        </test>
                     </and>
                  </iterate>
               </and>
            </with>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate>
                  <and>
                     <test
                           property="org.eclipse.jdt.launching.isContainer">
                     </test>
                     <test
                           args="org.eclipse.jdt.core.javanature"
                           property="org.eclipse.jdt.launching.hasProjectNature">
                     </test>
                  </and>
               </iterate>
            </with>
         </or>
	         </enablement>
         </contextualLaunch>
         <configurationType
               id="randoop.plugin.core.launching.gentestsType">
         </configurationType>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathFixProcessors">
      <classpathFixProcessor
            class="randoop.plugin.internal.ui.buildpath.RandoopClasspathFixProcessor"
            id="randoop.plugin.ui.classpathFixProcessor"
            name="Randoop Classpath Fix Processor">
      </classpathFixProcessor>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="randoop.plugin.internal.ui.refactoring.LaunchConfigurationITypeRenameParticipant"
            id="randoop.plugin.refactoring.launching.typeRename"
            name="Launch configuration participant">
         <enablement>
            <with
                  variable="affectedNatures">
               <iterate
                     operator="or">
                  <equals
                        value="org.eclipse.jdt.core.javanature">
                  </equals>
               </iterate>
            </with>
            <with
                  variable="element">
               <instanceof
                     value="org.eclipse.jdt.core.IType">
               </instanceof>
            </with>
         </enablement>
      </renameParticipant>
      <renameParticipant
            class="randoop.plugin.internal.ui.refactoring.LaunchConfigurationIPackageFragmentRenameParticipant"
            id="randoop.plugin.refactoring.launching.packageRename"
            name="Launch configuration participant">
         <enablement>
            <with
                  variable="affectedNatures">
               <iterate
                     operator="or">
                  <equals
                        value="org.eclipse.jdt.core.javanature">
                  </equals>
               </iterate>
            </with>
            <with
                  variable="element">
               <instanceof
                     value="org.eclipse.jdt.core.IPackageFragment">
               </instanceof>
            </with>
         </enablement>
      </renameParticipant>
      <renameParticipant
            class="randoop.plugin.internal.ui.refactoring.LaunchConfigurationIJavaProjectRenameParticipant"
            id="randoop.plugin.refactoring.launching.projectRename"
            name="Launch configuration participant">
         <enablement>
            <with
                  variable="affectedNatures">
               <iterate
                     operator="or">
                  <equals
                        value="org.eclipse.jdt.core.javanature">
                  </equals>
               </iterate>
            </with>
            <with
                  variable="element">
               <instanceof
                     value="org.eclipse.jdt.core.IJavaProject">
               </instanceof>
            </with>
         </enablement>
      </renameParticipant>
      <renameParticipant
            class="randoop.plugin.internal.ui.refactoring.LaunchConfigurationIMethodRenameParticipant"
            id="randoop.plugin.refactoring.launching.methodRename"
            name="Launch configuration participant">
         <enablement>
            <with
                  variable="affectedNatures">
               <iterate
                     operator="or">
                  <equals
                        value="org.eclipse.jdt.core.javanature">
                  </equals>
               </iterate>
            </with>
            <with
                  variable="element">
               <instanceof
                     value="org.eclipse.jdt.core.IMethod">
               </instanceof>
            </with>
         </enablement>
      </renameParticipant>
      <renameParticipant
            class="randoop.plugin.internal.ui.refactoring.LaunchConfigurationIPackageFragmentRootRenameParticipant"
            id="randoop.plugin.refactoring.launching.folderRename"
            name="Launch configuration participant">
         <enablement>
            <with
                  variable="affectedNatures">
               <iterate
                     operator="or">
                  <equals
                        value="org.eclipse.jdt.core.javanature">
                  </equals>
               </iterate>
            </with>
            <with
                  variable="element">
               <instanceof
                     value="org.eclipse.jdt.core.IPackageFragmentRoot">
               </instanceof>
            </with>
         </enablement>
      </renameParticipant>
      <renameParticipant
            class="randoop.plugin.internal.ui.refactoring.LaunchConfigurationClasspathEntryRenameParticipant"
            id="randoop.plugin.refactoring.launching.classpathRename"
            name="Launch configuration participant">
         <enablement>
            <with
                  variable="affectedNatures">
               <iterate
                     operator="or">
                  <equals
                        value="org.eclipse.jdt.core.javanature">
                  </equals>
               </iterate>
            </with>
            <with
                  variable="element">
               <or>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.core.resources.IFolder">
                  </instanceof>
               </or>
            </with>
         </enablement>
      </renameParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="randoop.plugin.internal.ui.refactoring.LaunchConfigurationITypeMoveParticipant"
            id="randoop.plugin.refactoring.launching.typeMove"
            name="Launch configuration participant">
         <enablement>
            <with
                  variable="affectedNatures">
               <iterate
                     operator="or">
                  <equals
                        value="org.eclipse.jdt.core.javanature">
                  </equals>
               </iterate>
            </with>
            <with
                  variable="element">
               <instanceof
                     value="org.eclipse.jdt.core.IType">
               </instanceof>
            </with></enablement>
      </moveParticipant>
      <moveParticipant
            class="randoop.plugin.internal.ui.refactoring.LaunchConfigurationIPackageFragmentMoveParticipant"
            id="randoop.plugin.refactoring.launching.packageFragmentMove"
            name="Launch configuration participant">
         <enablement>
            <with
                  variable="affectedNatures">
               <iterate
                     operator="or">
                  <equals
                        value="org.eclipse.jdt.core.javanature">
                  </equals>
               </iterate>
            </with>
            <with
                  variable="element">
               <instanceof
                     value="org.eclipse.jdt.core.IPackageFragment">
               </instanceof>
            </with></enablement>
      </moveParticipant>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
  </plugin>
