<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">

<web-app>
	<display-name>Struts MailReader for Commons Chain</display-name>

    <!-- Commons Chain listener to load catalogs  -->
    <context-param>
        <param-name>org.apache.commons.chain.CONFIG_CLASS_RESOURCE</param-name>
        <param-value>resources/catalog.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.apache.commons.chain.web.ChainListener</listener-class>
    </listener>

  <!-- Action Servlet Configuration -->
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>
      /WEB-INF/struts-config/default.xml,
      /WEB-INF/struts-config/welcome.xml,
      /WEB-INF/struts-config/locale.xml,
      /WEB-INF/struts-config/logon.xml
      </param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>


  <!-- Action Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>


  <!-- The Welcome File List -->
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>


  <!-- Application Tag Library Descriptor -->
  <taglib>
    <taglib-uri>/tags/app</taglib-uri>
    <taglib-location>/WEB-INF/tld/app.tld</taglib-location>
  </taglib>

  <!-- Struts Tag Library Descriptors -->
  <taglib>
    <taglib-uri>/tags/struts-bean</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/tags/struts-html</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/tags/struts-logic</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
  </taglib>

</web-app>
